
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^f2fusionfashion\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.f2fusionfashion\.com$
RewriteRule ^/?$ "https\:\/\/f2fusionfashion\.com\/" [R=301,L]
