.nav-item{
    padding: 0px 20px;
    font-weight: 600;
}

.landingImage{
    width: 100%;
    height: 100vh;
}

.campaignTitle{
    font-size: 50px;
    font-weight: 500;
    height: 150px;
    /* padding: 25px 0px; */
    margin: 50px 0px;
    background-image: url('../images/titleBackground.png');
    vertical-align: middle;
}
.hideScroll::-webkit-scrollbar {
    display: none;
}
.hideScroll{
    padding-top: 22px;
}

.productImage{
    /* width: 317px; */
    /* height: 317px; */
    padding: 10px 0px;
}

.landingProductHeroImage{
    /* width: 650px; */
    /* height: 950px; */
    padding: 10px 0px;
}